@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'KCC-Hanbit';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
 
.App {
  font-family: 'Pretendard-Regular';
}
.content{
  display: inline-flex;
  height: auto;
}

.main_right{
  display: inline-flex;
  width: 20vw;
  margin: 2vw;
}

.home_memo{
  font-family: 'KCC-Hanbit';
  margin-left: 3vh;
  margin-top: 10vw;
  display: inline-block;
  width: 20vw;
  height: 70vh; 
  vertical-align: top; 
  text-align: center;
}

.home_memo h1{
  font-size: 2.2vw;
}
.home_memo h4{
  font-size: 1.5vw;
  color: #8878de;
}

.form-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 55vw;
}
 
.form-group {
  width: 30vw;
  padding: 1.3889vw;
  border-radius: 0.5556vw;
  box-shadow: 0 0 0.6944vw rgba(0, 0, 0, 0.1);
  margin: 2vh;
  margin-left: 20vw;
}

.form-group label {
  font-size: 1.3vw;
  margin-bottom: 1.667vh;
  display: block;
  text-align: center;
}

.form-h5 {
  text-align: center;
  color: green;
  margin-top: 0vh;
  margin-bottom: 0.5vh;
  font-size: 0.8vw;
}

.form-control {
  width: 30vw;
  padding: 0.6944vw;
  margin: 0.6944vw 0;
  border: 0.06944vw solid #cacaca;
  border-radius: 0.2778vw;
  box-sizing: border-box;
  font-size: 1vw;
}
.fontsize{
  font-size: 1.1vw;
}
.btn {
  width: 30vw;
  padding: 0.6944vw;
  background-color: #8878DE;
  border: none;
  color: white;
  border-radius: 0.2778vw;
  cursor: pointer;
  font-size: 1vw;
}

.btn:hover {
  background-color: #6a5eb0;
}

.admin-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  float: left;
}


.admin-bt{
  width: 15vw;
  padding: 0.0694vw;
  background-color: #8878de;
  border: none;
  color: white;
  border-radius: 0.2778vw;
  cursor: pointer;
  font-size: 1vw;
  margin-top: 1vh;
}
.post{
  width: 75vw;
  margin-top: 5vh;
  display: inline-block;
  vertical-align: top;
}
.post2{
  width: 99.03vw;
}
.post3{
  width: 99.03vw;
  margin-top: 20vh;
}
.footer{
  background-color: rgb(66, 66, 66);
  width: 99vw;
  height: 30vh;
  margin-top: 32vh;
  display: flex;
  box-shadow: 0 0 1vw 0 rgba(0,0,0,0.3);
}
.footerInfo{
  color: rgb(149, 149, 149);
  font-size: 0.8vw;
  margin-left: 17vw;
  padding-top: 5vh;
}
.footer_p{
  margin-top: 4vh;
}
.allright{
  width: 15vw;
  height: 15vh;
  position: relative;
  top: 10vh;
  left: 20vw;
}